<div class="center">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <div class="form-wrapper-new-user">
  <div class="field input-group">
    <%= f.email_field :email, autofocus: true %>
    <%= f.label :email %>
  </div>
  <div class="field input-group">
    <%= f.password_field :password, autocomplete: "off" %>
    <%= f.label :password %>
  </div>


  <div class="actions new-sess-log-in">
    <%= f.submit "Log in" %>
  </div>
  <div class="namy">
  <a class="namy-child" href="/users/sign_up">Not a member yet&#63;</a><br/>
  <hr>
  <a class="forgot-pass" href="/users/password/new">Forgot your password?</a>
  </div>
  </div>
  
  <% if devise_mapping.rememberable? %>
    <div class="field rem-me">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
<% end %>

<!--<div class="devise-links">
  <a class="forgot-pass" href="/users/password/new">Forgot your password?</a>
</div>
-->
</div>