!!!
%html
  %head
    %title Online Notebook
    = stylesheet_link_tag    'http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = favicon_link_tag "/images/favico.ico"
    = csrf_meta_tags 
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    
  %body
    = render 'layouts/nav'
    .container
      = yield 
    